* {
    padding: 0;
    margin: 0;
    
}


.notadeseguridad{
  color: aliceblue;
  background: #CE1D02;
  background: -moz-linear-gradient(left, #CE1D02 0%, #A45936 50%, #C58F74 100%);
  background: -webkit-linear-gradient(left, #CE1D02 0%, #A45936 50%, #C58F74 100%);
  background: linear-gradient(to right, #CE1D02 0%, #A45936 50%, #C58F74 100%);
  font-size: x-large;



}

h1 {

  color: grey;
  font-size: 35px;
}
main {

  width: 1200px;
  margin: 0 auto;
}

.header-top {
    background-color: #8f1a00;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.header-top p {
 color: white;
 padding: 0 12px;
 
}

.header-top ul, .Submenu-container ul { 
  
display: flex;
list-style: none;
}

.header-top ul li a {
    color: white;
    text-decoration: none;
    padding: 12px;
    border-left: solid 2px white;
   }
   



  .header-botton {
  
    display: flex; 
    list-style: none;
    justify-content: center;
    align-items: center; 
    padding-inline-start: 0px
    
  }

  .header-botton ul li {
    display: contents;
    flex-wrap: wrap;
    padding: 6px;
  }
  .header-botton ul li p{

    display: flex; 
    justify-content: center;
  }
  
  .logo-container img {

    padding: 24px;
    
    }
    
  .icons-container {
    display: flex;
    
    align-items: center;
    padding-left: 1cm;
}

.icon-container p {

   display: flex;
   
   justify-content: center;

}

.menu-container {
  display: flex;
  vertical-align: middle;
  border-style: none;
  align-items: center;
  list-style: none;
}
.facebook{

  width: 5%;

}

.twitter{

  width: 5%;
}

.youtube{

  width: 5%;
}

.instagram{

  width: 5%;
}

.facebook img{

  display: flex;
 width: 70%;

 
}
.twitter img{
  display: flex;
  width: 80%;
  
}
.youtube img{
  display: flex;
  width: 60%;
}

.instagram img{
  display: flex;
  width: 60%;
}


.Submenu-container ul li {

  color: #017cff;
  text-decoration: none;
  padding: 3px;

}

.submenu {
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imagen-titulo {

  width: 100%;


}

  .texto-con-imagen {

    display: grid;
    grid-template-columns: 10% 90%;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 1cm;
}

footer{
  color: aliceblue;
  background: #CE1D02;
  background: -moz-linear-gradient(left, #CE1D02 0%, #A45936 50%, #C58F74 100%);
  background: -webkit-linear-gradient(left, #CE1D02 0%, #A45936 50%, #C58F74 100%);
  background: linear-gradient(to right, #CE1D02 0%, #A45936 50%, #C58F74 100%);
  font-size: x-large;
}

.pie-de-pagina{

  width: 100%;
}

.pie-de-pagina img{

  display: flex;
  justify-content: center;
width: 10%;
}

.direcciones p{

  display: flex;
  justify-content: center;

}